[Unit]
Description=Daemon program to watch and move files in directories

[Service]
Type=forking
PIDFile=/var/run/watcher-daemon.pid
ExecStart=/usr/bin/watcher-daemon \
	--conf_file /etc/watcher-daemon.json \
	--log_file /var/log/watcher-daemon.log \
	--pid_file /var/run/watcher-daemon.pid \
	--default_home /home/magax/

[Install]
WantedBy=multi-user.target
