[Unit]
Description=Daemon program to watch and move files in directories

[Service]
Type=forking
PIDFile=/var/run/watcher-daemon.pid
ExecStart=/usr/bin/watcher-daemon \
	--conf_file /etc/watcher-daemon-config.json \
	--log_path /var/log/watcher-daemon/ \
	--pid_file /var/run/watcher-daemon.pid

[Install]
WantedBy=multi-user.target
